{{#each tehnologi}}
<li>{{this}}</li>
{{/each }}




{{!-- Добавляем страны через шаблон  --}}
{{!-- {{#each this}}
<li>
    <h2>{{name}}</h2>
    <img src="{{flag}}" alt="{{name}}">
    <p>Страна {{capital}}</p>
    <p>Валюта {{currency}}</p>
    <p>Язык: {{language}}</p>
    <p>Население {{population}}</p>
    <p>Заражен {{infected}}</p>

</li>
{{/each }} --}}